.Blog-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding: 10px;
    border: 1px solid white;
}

.post-title {
    font-weight: bolder;
    margin-bottom: 8px;
}

.post-desc {
    font-size: calc(8px + 2vmin);
    margin: 0px 0px 8px;
}

.add-comment-button{
    width: 200px;
    align-self: flex-end;
    margin: 0px;
}